{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2 class="text-dark ms-3 mt-5 m-4">Add Sales</h2>

<!-- Add Sale Transaction Form -->
<form method="post" id="saleForm" data-items-url="{% url 'sales:ajax_load_items' %}">
  {% csrf_token %}

  <!-- Sales Form Fields-->
  {% for field in form %}
  <div class="form-group m-4">
    <div>
      {{ field.label_tag }}
    </div>
    {{ field }}
  </div>
  {% for error in field.errors %}
  <strong>{{ field.errors|escape }}</strong>
  {% endfor %}
  {% endfor %}

  <!-- Cancel and Save Button -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <button type="reset" class="btn btn-secondary btn-lg border-0 button-custom" id="cancel-btn">Cancel</button>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary btn-lg border-0 button-custom" id="save-btn">Save</button>
      </div>
    </div>
  </div>

</form>

<script src="{% static 'sales/js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'sales/js/category-item-chained-dropdown.js' %}" type="text/javascript"></script>
<script src="{% static 'sales/js/selectpicker-reset.js' %}" type="text/javascript"></script>

{% endblock %}