{% extends 'index.html' %}
{% load static %}

{% block content %}

<h2 class="text-dark ms-3 mt-5 m-4">Transactions</h2>

<table class="table table-sm table-hover">
    <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Item</th>
          <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.category.category }}</td>
                <td>{{ sale.item.item }}</td>
                <td>{{ sale.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
    

</table>


{% endblock %}