<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'sales/css/add-sales.css' %}">


    <title>Kleas</title>

    <!-- Bootstrap4 jsD elivr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- bootstrap-select compiled and minified CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <!-- sample.css -->
    <link rel="stylesheet" href="{% static 'sales/css/sample.css' %}">
    <!-- Font-family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    

</head>

<body>
    <!--Nav Bar-->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow">

            <a class="navbar-brand mr-auto logo" href="{% url 'sales:add' %}">
                <img src="{% static 'sales/drawable/kleas_logo.png' %}" alt="Klea's logo" width="50" height="50"
                    class="d-inline-block align-top rounded" />
                Klea</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportContent"
                aria-controls="#navbarSupportContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportContent">
                <ul class="navbar-nav ml-auto text-right navbar_selection">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sales:add' %}">Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'expenses:restock' %}">Expenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Analytics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sales:transactions' %}">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Alerts -->
    <div class="container">
        {% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{ msg }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Bootstrap4 jsDelivr CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <!-- bootstrap-select compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
</body>

</html>