#price-num-input {
    font-family: 'Inter', sans-serif;
    text-align: right;
    font-size: 50px;
    border: none;
    background-color:#007CFF;
    color: #FFFFFF;
    border-radius: 0.5rem;
}

#quantity-num-input {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: #FFFFFF;
    border-radius: 0.5rem;
    border: #6FBAF7 solid;
    text-align: center;
}

.logo {
    font-size: xx-large;
    font-family: 'Inter', Arial;
}

.navbar_selection {
    font-size: large;
    text-align: end;
    font-family: 'Inter', Arial;
}

#add-btn {
    background-color: #6FBAF7;   
}

#cancel-btn {
    background-color: #CDCDCD;
}

.button-custom {
    border-radius: 8px;
    width: 95% !important;
}

.btn-block {
    padding: 12px;
    border-radius: 5px;
    
}
